**/__pycache__
**/.ipynb_checkpoints
**/.cache
**/.parcel-cache
**/_cache
**/dist
**/node_modules
**/package-lock.json
**/*.xml
**/*.csv
**/*.json
**/*.db
**/*.db-journal

data/updates.txt

!**/package.json

