*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f9e9cb;
  margin: 0;
  padding: 1rem;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.row {
  padding-bottom: 1rem;
}

.row > * {
  display: inline;
  padding-right: 1rem;
}

.row > .published_date {
  display: none;
}
